/* reset */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: "Inter", sans-serif;
	display: flex;
	height: 100vh;
	align-items: center;
	justify-content: center;
	background-color: oklch(98.5% 0.002 247.839);
}

p {
	color: #525252;
}

label {
	font-size: 12px;
	font-weight: 500;
	color: #3b3b3b;
}

input,
button {
	border-width: 1px;
	border-style: solid;
	border-radius: 6px;
	padding: 8px 16px;
}

input {
	flex: 1;
	border-color: darkgray;
}
input::placeholder {
	font-size: 14px;
}

button {
	font-weight: bold;
	border-color: oklch(62.7% 0.194 149.214);
	background-color: oklch(62.7% 0.194 149.214);
	color: white;
	cursor: pointer;
}

button:focus,
input:focus {
	outline-width: 2px;
	outline-style: solid;
	outline-offset: -1px;
}
input:focus {
	outline-color: gray;
}
button:focus {
	outline-color: oklch(39.3% 0.095 152.535);
}

.form-container {
	display: flex;
	flex-direction: column;
	gap: 16px;
	width: 400px;
	border-radius: 16px;
	padding: 24px;
	background-color: white;
	box-shadow:
		0 10px 15px -3px rgb(0 0 0 / 0.1),
		0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.form-header {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.input-inline {
	display: flex;
	gap: 4px;
}
.input-block {
	display: flex;
	flex-direction: column;
	gap: 8px;
}
