/* reset */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: Arial, sans-serif;
	display: flex;
	flex-direction: column;
	height: 100vh;
	padding-block: 24px;
	padding-inline: 24px;
	align-items: center;
	justify-content: center;
	background-color: oklch(98.5% 0.002 247.839);
}

a {
	display: flex;
	flex-direction: row;
	gap: 8px;
	align-items: center;
	text-decoration: none;
}

a p {
	font-size: 14px;
	font-weight: 500;
	color: black;
}

img {
	width: 20px;
	height: 20px;
}

form {
	display: flex;
	flex-direction: inherit;
	gap: 16px;
	width: 100%;
	max-width: 380px;
	margin: 24px auto;
	border-radius: 16px;
	padding: 24px;
	background-color: white;
	box-shadow:
		0 10px 15px -3px rgb(0 0 0 / 0.1),
		0 4px 6px -4px rgb(0 0 0 / 0.1);
}

form div {
	display: inherit;
	flex-direction: inherit;
	gap: 8px;
	width: 100%;
}

form p {
	color: #525252;
}

label {
	font-size: 12px;
	font-weight: 500;
	margin-bottom: -4px;
	color: #3b3b3b;
}

input {
	width: 100%;
	border: 1px solid darkgray;
	border-radius: 6px;
	padding: 8px 12px;
}
input::placeholder {
	font-size: 14px;
}

button {
	font-weight: 600;
	border: none;
	border-radius: 6px;
	width: 100%;
	padding: 9px 16px;
	background-color: oklch(62.7% 0.194 149.214);
	color: white;
	transition-property: background-color;
	transition-duration: 150ms;
	cursor: pointer;
}
button:hover {
	background-color: oklch(52.7% 0.154 150.069);
}

button:focus,
input:focus {
	outline-width: 2px;
	outline-style: solid;
	outline-offset: -1px;
}
input:focus {
	outline-color: gray;
}
button:focus {
	outline-color: oklch(39.3% 0.095 152.535);
}
